{% extends 'backend/base.html' %}
{% load crispy_forms_tags %}
{% load backend_extras %}
{% block content %}

        <!-- Latest Users -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">ผู้เดินทางเข้ามาจังหวัดชุมพร</h3>
            <form method='GET'>
              {{person_form|crispy}}
              <button class="btn btn-primary" type="submit">Search</button>             
            </form>
          </div>
          <div class="panel-body">
            <table class="table table-striped table-hover">
                <tr>
                  <th>ชื่อ</th>
                  <th>นามสกุล</th>
                  <th>เบอร์โทร</th>
                  <th>อำเภอ</th>
                  <th>ตำบล</th>
                  <th>รายละเอียด</th>
                </tr>
                
                {% for person in persons %}
                <tr>
                  <td>{{ person.fname }}</td>
                  <td>{{ person.lname }}</td>
                  <td>{{ person.mobile_phone }}</td>
                  <td>{{ person.campur }}</td>
                  <td>{{ person.ctambon }}</td>
                  <td><a href="{% url 'detailview' person.id %}">รายละเอียด</a></td>
                </tr>
                {% endfor %}
               
              </table>
  <!--Pagination start-->
              <div class="paginator">

                <ul class="pagination">
                  {% if is_paginated %}
                      {% if persons.has_previous %}
                          <li class="page-item">
                              <a class="page-link" href="?{% persons page=1 %}">First</a>
                          </li>
                          {% if persons.previous_page_number != 1 %}
                              <li class="page-item">
                                  <a class="page-link" href="?{% persons page=page_obj.previous_page_number %}">Previous</a>
                              </li>
                          {% endif %}
                      {% endif %}
                  
                      {% for num in persons.paginator.page_range %}
                          {% if persons.number == num %}
                              <li class="page-item">
                                  <a class="page-link" href="?{% persons page=num %}">{{ num }}</a>
                              </li>
                          {% elif num > persons.number|add:'-3' and num < persons.number|add:'3' %}
                              <li class="page-item">
                                  <a class="page-link" href="?{% persons page=num %}">{{ num }}</a>
                              </li>
                          {% endif %}
                      {% endfor%}
                  
                      {% if persons.has_next %}
                          {% if persons.next_page_number != paginator.num_pages %}
                          <li class="page-item">
                              <a class="page-link" href="?{% persons page=page_obj.next_page_number %}">Next</a>
                          </li>
                          {% endif %}
                          <li>
                              <a class="page-link" href="?{% persons page=page_obj.paginator.num_pages %}">Last</a>
                          </li>
                      {% endif %}
                  {% endif %}
                </ul>

              </div>
  <!--Pagination end-->
          </div>
        </div>

{% endblock content %}
  